  <form action="/login" method="post">
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value=""><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" value=""><br><br>
    <label for="userType">User Type:</label><br>
      <select name="userType" id="userType">
        <option value="entr">Entrepenuer</option>
        <option value="investor">Investor</option>
      </select><br><br>
    <input type="submit" value="Submit">
  </form> 