<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Phantom</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">Phantom
{{#ifeq (returnType user) "investor"}} - Investor Portal{{/ifeq}}
{{#ifeq (returnType user) "entr"}} - Entrepenuer Portal{{/ifeq}}
</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a href="/home">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if user}}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          {{else}}
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {{/if}}

        </ul>
      </div>
    </nav>

  <div class = "container">
    {{{body}}}
  </div>
  </body>
</html>


