<!DOCTYPE html>
<html lang="en">

<style>
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 
</style>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Phantom For Startups</title>

  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body style = "height: 100%" id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/home">Phantom
        {{#ifeq (returnType user) "investor"}} - Investor Portal{{/ifeq}}
        {{#ifeq (returnType user) "entr"}} - Entrepenuer Portal{{/ifeq}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
<!--           <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li> -->

          {{#if user}}
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          {{else}}
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>


  <div id="wrap">
    <div id="main" class="clear-top">
      {{{body}}}
    </div>
  </div>

    <footer class="footer py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright Phantom &copy 2020</p>
      </div>
    </footer>
      

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/js/scrolling-nav.js"></script>

</body>
</html>
