<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Phantom</title>
</head>
<body>

	<h1 class="text-center">Phantom</h1>
  	<form action="/jobs">
    	<input type="submit" value="Jobs" />
	</form>
  	<form action="/ideas">
    	<input type="submit" value="Ideas" />
	</form>
</body>
</html>