<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Phantom</title>
</head>
<body>

	<h1 class="text-center">Welcome to Phantom for Startups!</h1>
  <br><br>

  <div class = "container text-center">
    
    <a class="btn btn-primary btn-lg" href="/ideas" role="button">All Ideas</a>

    <a class="btn btn-primary btn-lg" href="/jobs" role="button">All Jobs</a>
 
    <a class="btn btn-primary btn-lg" href="/messages" role="button">My Chats</a>

  </div>

</body>
</html>