<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Phantom</title>
</head>
<body>

	<h1 class="text-center">Phantom</h1>
  	<form action="/login">
    	<input type="submit" value="Login" />
	</form>
  	<form action="/register">
    	<input type="submit" value="Register" />
	</form>
</body>
</html>