<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Phantom</title>
</head>
<body>


  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Phantom for startups</h1>
      <p class="lead">Everything Startups!</p>
    </div>
  </header>
  <br><br>


  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 my-auto">
          <h2>Get Known</h2>
          <p class="lead">You can sign up your startup and get known throughout the community. The benefits you can get are:</p>
          <ul>
            <li>Higher investor reach</li>
            <li>Bigger talent pool to hire from</li>
            <li>Finding Cofounders</li>
            <li>And more!</li>
          </ul>
          <div class = "text-center">
			<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
			<a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
          </div>
        </div>
        <div class="col-lg-6 mx-auto">
          <img src="images/1.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <img src="images/2.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-lg-6 my-auto">
          <h2>Get hired</h2>
          <p class="lead">Connect with the startups all around Pakistan. Work in an environment that will challenge you in all ways meaningful!</p>
          <div class = "text-center">
			<a class="btn btn-primary btn-lg" href="/jobs" role="button">View Jobs</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 my-auto">
          <h2>Invest In Startups</h2>
          <p class="lead">If you have some extra cash in your hands and you're looking to double, triple and quadruple it, find good startups at Phantom to invest in.</p>
          <div class = "text-center">
			<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
			<a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
          </div>
        </div>
        <div class="col-lg-6 mx-auto">
          <img src="images/3.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </section>

</body>
</html>