
<main>
  <ol class="gradient-list">

  	{{#each ideas}}
    <li>{{this.name}} - {{this.desc}} - {{this.email}} - {{this.number}}</li>
    {{/each}}
  </ol>
  <form action="/">
    <input type="submit" value="Go to add idea" />
	</form>
</main>

