  <form action="/add/idea" method="post">
    <label for="fname">Name:</label><br>
    <input type="text" id="name" name="name" value=""><br>
    <label for="lname">Email:</label><br>
    <input type="text" id="email" name="email" value=""><br><br>
    <label for="lname">Number:</label><br>
    <input type="text" id="number" name="number" value=""><br><br>
    <label for="lname">Description:</label><br>
    <input type="text" id="desc" name="desc" value=""><br><br>
    <input type="submit" value="Submit">
  </form> 

  <form action="ideas">
    <input type="submit" value="Ideas" />
    </form>
