<br><br>
<div class="container">
	<h1 class="text-center">My Ideas</h1>
	{{#ifeq (returnType user) "entr"}}
	<div>
		<a class="btn btn-info btn-lg" href="/add/idea" role="button">Add new idea</a>
	</div>

	{{/ifeq}}
	<br>

	<div class="row">
		{{#each ideas}}
		<div class="col-sm-4 mb-4">
			<div class="card border-primary col-mb-3" style="max-width: 18rem;">
				<div class="card-header">{{this.name}}</div>
				<div class="card-body text-primary">
					<p class="card-text">{{this.desc}}</p>
					<p class="mb-1">Investment Needed - {{this.investmentRange}}</p>
					<a href="/view/idea/{{this.id}}" class="btn btn-primary">View</a>
				</div>
			</div>
		</div>
		<br>
		{{/each}}
	</div>


</div>