<h1 class="text-center">Posted Ideas</h1>


{{#ifeq (returnType user) "entr"}} 
<div> 
    <a class="btn btn-info btn-lg" href="/add/idea" role="button">Add new idea</a>
</div>

{{/ifeq}}
<br>
{{#each ideas}}
<div class="list-group">
  <a href="/view/idea/{{this.id}}" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{this.name}}</h5>
    </div>
    <p class="mb-1">{{this.desc}}</p>
  </a>
</div>
{{/each}}


