{{idea.name}} - {{idea.desc}} - {{idea.email}} - {{idea.number}}

  <form action="/ideas">
    <input type="submit" value="Ideas" />
    </form>
  <form action="/home">
    <input type="submit" value="Home" />
	</form>
