  <form action="/add/job" method="post">
    <label for="fname">Name:</label><br>
    <input type="text" id="name" name="name" value=""><br>
    <label for="lname">Description:</label><br>
    <input type="text" id="desc" name="desc" value=""><br><br>
    <input type="submit" value="Submit">
  </form> 

  <form action="/jobs">
    <input type="submit" value="Jobs" />
  </form>
  <form action="/home">
    <input type="submit" value="Home" />
  </form>
  <form action="/logout">
    <input type="submit" value="Logout" />
  </form>

