<br><br>
<div class="container">
	<h1 class="text-center">My Posted Jobs</h1>

	{{#ifeq (returnType user) "entr"}}
	<div>
		<a class="btn btn-info btn-lg" href="/add/job" role="button">Add new job</a>
	</div>

	{{/ifeq}}
	<br>

	<form action="/jobs/find">
		<div class="form-group row justify-content-md-center">
			<div class="col-4">
				<input type="text" class="form-control" id="nameOrDescription" name="nameOrDescription"
					placeholder="Search for a job...">
			</div>
			<div class="col-2">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>
		</div>
	</form>

	<div class="row">
		{{#each jobs}}
		<div class="col-sm-4 mb-4">
			<div class="card border-primary col-mb-3" style="max-width: 18rem;">
				<div class="card-header">{{this.name}}</div>
				<div class="card-body text-primary">
					<p class="card-text">{{this.desc}}</p>
					<a href="/view/job/{{this.id}}" class="btn btn-primary">View</a>
				</div>
			</div>
		</div>
		<br>
		{{/each}}
	</div>
</div>