<br><br>
<div class="container">
	<div>
		<a class="btn btn-info btn-lg" href="/jobs" role="button">All jobs</a>
		<a class="btn btn-info btn-lg" href="/job/{{job.id}}/apply" role="button">Apply for this job</a>
	</div>

	<br>
	<div class="column">

		<div class="card border-primary col-mb-12" style=";">
			<div class="card-header">Job Title: {{job.name}}</div>
			<div class="card-body text-default">
				<p class="card-text">Job Description: {{job.desc}}</p>
			</div>
		</div>

	</div>

</div>