{{job.name}} - {{job.desc}}

  <form action="/jobs">
    <input type="submit" value="Jobs" />
    </form>
  <form action="/home">
    <input type="submit" value="Home" />
	</form>
  <form action="/logout">
    <input type="submit" value="Logout" />
  </form>

