<br><br>
<div class="container list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    All chats
  </button>
  {{#each chats}}
    {{#ifeq (returnType ../user) "investor"}}
      <a href="/chats/{{returnId this.entr}}" type="button" class="list-group-item list-group-item-action">{{returnName this.entr}}</a>
    {{/ifeq}}
    {{#ifeq (returnType ../user) "entr"}}
      <a href="/chats/{{returnId this.investor}}" type="button" class="list-group-item list-group-item-action">{{returnName this.investor}}</a>
    {{/ifeq}}
  {{/each}}
</div>